* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
}

.bg-orange {
  background-color: $bg-orange;
}
// #navbar--apparitionDelay {
//   animation: navbarApparitionDelay ease-in-out 5.5s both;
// }

@keyframes navbarApparitionDelay {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #212529;
  color: white;
  font-size: 30px;
  text-align: center;
  animation: loader ease-in-out 5.7s both;
  z-index: 999;

  &:after {
    content: "";
    height: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: textLoader ease-in-out 4s 1s both;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// content: "Ca tombe bien ! Je suis passionnée par le web et j'ai pu acquérir des compétences en HTML CSS JavaScript React/Node. La suite, c'est à vous de la découvrir ! 🔽";

@keyframes textLoader {
  10% {
    content: "V";
  }
  12% {
    content: "Vo";
  }
  14% {
    content: "Vou";
  }
  16% {
    content: "Vous";
  }
  18% {
    content: "Vous r";
  }
  20% {
    content: "Vous re";
  }
  22% {
    content: "Vous rec";
  }
  24% {
    content: "Vous rech";
  }
  26% {
    content: "Vous reche";
  }
  28% {
    content: "Vous recher";
  }
  30% {
    content: "Vous recherc";
  }
  32% {
    content: "Vous recherch";
  }
  34% {
    content: "Vous recherche";
  }
  36% {
    content: "Vous recherchez";
  }
  38% {
    content: "Vous recherchez u";
  }
  40% {
    content: "Vous recherchez un";
  }
  42% {
    content: "Vous recherchez un D";
  }
  42% {
    content: "Vous recherchez un Dé";
  }
  44% {
    content: "Vous recherchez un Dév";
  }
  46% {
    content: "Vous recherchez un Déve";
  }
  48% {
    content: "Vous recherchez un Dével";
  }
  50% {
    content: "Vous recherchez un Dévelo";
  }
  52% {
    content: "Vous recherchez un Dévelop";
  }
  54% {
    content: "Vous recherchez un Développ";
  }
  56% {
    content: "Vous recherchez un Développe";
  }
  58% {
    content: "Vous recherchez un Développeu";
  }
  60% {
    content: "Vous recherchez un Développeur";
  }
  62% {
    content: "Vous recherchez un Développeur W";
  }
  64% {
    content: "Vous recherchez un Développeur We";
  }
  66% {
    content: "Vous recherchez un Développeur Web";
  }
  68% {
    content: "Vous recherchez un Développeur Web ?";
  }
  100% {
    content: "Vous recherchez un Développeur Web ?";
  }
}

.loader {
  position: relative;
  width: 280px;
  height: 15px;
  top: 450px;
  margin: 0px auto;
  background: #fff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

  @media screen and (min-width: 510px) {
    width: 520px;
    top: 435px;
  }
}
.loader::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #fb0094
  );
  animation: animate 20s linear infinite;
  background-size: 500%;
}
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #fb0094
  );
  animation: animate 20s linear infinite both;
  background-size: 500%;
  filter: blur(20px);
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -500% 0;
  }
}
