.projet {
  &__img-recize {
    width: 30px;
  }
  &__img-recizeModal {
    width: 40px;
  }
}

.projet__picture__presentation--recize {
  max-width: 300px;
}

.projet__card {
  max-width: 300px;
  border-radius: 15px;
  background-color: #370617;
}

#icon__projet {
  left: 0px;
}

#modalLogoLighthouse {
  width: 64px;
}
