.projet__img-recize {
  width: 30px;
}

.projet__picture__presentation--recize {
  max-width: 300px;
}

.projet__card {
  max-width: 300px;
  border-radius: 15px;
  background-color: #370617;
  cursor: pointer;
}
