$bg-orange: #6a040f;
$black: #120e0e;
$bg-darkblue: #03071e;
$bg-pourpre: #370617;

.bg-orange {
  background-color: $bg-orange;
}

.bg-pourpre {
  background-color: $bg-pourpre;
}

.bg-darkblue {
  background-color: $bg-darkblue;
}

.color-black {
  color: $black;
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 9,
  8: $spacer * 15,
);
